<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item" onclick="document.querySelector('.menu-toggle.rounded.active').click()"><a routerLink="/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li class="sidebar-nav-item" onclick="document.querySelector('.menu-toggle.rounded.active').click()"><a routerLink="/sobre" routerLinkActive="active-menu"  [routerLinkActiveOptions]="{ exact: true }">Sobre</a></li>
        <li class="sidebar-nav-item" onclick="document.querySelector('.menu-toggle.rounded.active').click()"><a routerLink="/formulario" routerLinkActive="active-menu"  [routerLinkActiveOptions]="{ exact: true }">Formulário</a></li>
    </ul>
</nav>